<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">

	<!-- <!DOCTYPE web-app PUBLIC -->
	<!--  "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" -->
	<!--  "http://java.sun.com/dtd/web-app_2_3.dtd" > -->

	<!-- <web-app> -->

	<display-name>Archetype Created Web Application</display-name>
	<servlet>
		<servlet-name>list leagues</servlet-name>
		<jsp-file>/User/pages/hi.jsp</jsp-file>
		<!-- <servlet-class>package.class</servlet-class> -->
	</servlet>
	<servlet-mapping>
		<servlet-name>list leagues</servlet-name>
		<url-pattern>/User/pages/listLeagues.html</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>demo1</servlet-name>
		<servlet-class>com.DemoServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>demo1</servlet-name>
		<url-pattern>/demoTest</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>list_leagues</servlet-name>
		<servlet-class>sl314.view.ListLeaguesServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>list_leagues</servlet-name>
		<url-pattern>/list_leagues.view</url-pattern>
	</servlet-mapping>


</web-app>
